body {
    background-color: #EAF4E0;
    font-family: 'Chakra Petch', serif;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin-top: 1rem;
    display: flex;
}

.name {
    font-size: 1.5rem;
}

.navbar {
    margin: auto 0 auto auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 0 0 3rem;
}

.a-nav {
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
}